{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["airbnb-base"],
  "rules": {
    "non-used-vars": 0,
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "react/prop-types": [2],
    "comma-dangle": [0]
  }
}
